.tabs{
    display: flex;
    list-style-type: none;
    margin-bottom: 0;
    padding:0;
}

.tabs li{
    height: 1em;
    width: 3em;
    text-align: center;
    margin-right: 0.9em;
    cursor: pointer;
    padding: 0.5em 1em;
    background-color: var(--main-color);
    border-radius: 0.6em 0.6em 0 0;
}

.filter-choice
{
    width:calc(var(--modal-width)- 2 * var(--modal-content-padding));
    height: calc(var(--modal-height) * (7/8) - 2 * var(--modal-content-padding) - 1em);
    background-color: var(--main-color);
    margin: 0;
    border-radius: 0 0.6em 0.6em 0.6em;
}
.filter-choice p{
    margin: 0;
}