.table-row {
  background-color: var(--main-color);
  width: 100%;
  display: grid;
  grid-template-columns: [id] 20% [name] 40% [level] 40%;
}
.table-cell {
  padding: 0.3em 0.3em 0.3em 0.75em;
  border: 1px solid var(--hover-element-color);
  font-weight: bold;
  font-size: 1rem;
}

.table-row.active {
  background-color: yellow;
}

.table-row:hover {
  background-color: var(--hover-element-color);
}
